:root{
    --maincolor: #ff6c00;
    --fontcolor: #fff;
}

body {
       font-family: 'Open Sans', sans-serif;
     
}

header {
    background-color: black;
    height: 80vh;
    width: 100vw;
    display: flex;
   
}
a {
    text-decoration: none;
    color: var(--fontcolor);
}
a:hover{
    color: var(--maincolor);

}
.sidebar{
    background-color: var(--fontcolor);
    width: 15%;
    height: 100%;
    text-align: left;
    display: inline;
    margin: 0;
    padding: 0;

}
.mainheader {
    background-color: blue;
    width: 84%;
    height: 100%;
    display: inline;
    color: var(--fontcolor);
    margin: 0;
    padding: 0;
}
button {
    background: transparent;
    color: var(--fontcolor);
    outline: none;
    border: none;
    border-style: solid;
    border-width: 1px;
    border-color: var(--maincolor);
    border-radius: 25px;
    padding: 5px;
}
.info {
    background-color: rebeccapurple;
    font-size: 12px;
    padding: 15px;
    width: 100%;
}
nav {
    display: inline-block;
    width: 80%;
}
.contactinfo {
display: inline-block;
width: 19%;


}